@model IEnumerable<EShopMVCNet7.Models.AppOrder>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered table-hover text-center">
    <thead>

        <tr>
            <th>Tổng giá</th>
            <th>Tên khách hàng</th>
            <th>SDT</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TotalPrice.ToString("#,# vnđ")</td>
                <td>@item.CustomerName</td>
                <td>@item.CustomerPhone</td>
                <td>@item.CustomerEmail</td>
                <td>@item.CustomerAddress</td>
                <td>@item.Status</td>
                <td>@item.CreatedAt?.ToString("dd/MM/yy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
