@model AppProduct

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}




<!---->
<div class="container">
    <h1 style="margin: 40px" class="text-center display-6">CHI TIẾT SẢN PHẨM</h1>
    <div class="row" style="margin: 10px">
        <div class="col-8 ctl">
            <title>@Model.Name</title>
            <partial name="_Slide" model="Model.ProductImages" /> <!--chuyển slide ảnh sản phẩm-->
        </div>
        <div class="col-4 ctr">
            <div class="p-4 border rounded-3 bg-light">
                <div data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"
                     aria-controls="multiCollapseExample1 multiCollapseExample2">
                    <div style=" padding: 10px; font-weight: 700; font-size: 1.2rem">
                        @{
                            var isDiscount = false;
                            if (Model.DiscountPrice.HasValue)
                            {
                                var startDate = Model.DiscountFrom ?? DateTime.MinValue;
                                var endDate = Model.DiscountTo ?? DateTime.MaxValue;
                                isDiscount = startDate <= DateTime.Now && endDate >= DateTime.Now;
                            }
                        }
                        @if (isDiscount)
                        {
                            <s class="badge bg-secondary">@Model.Price.ToString("#,# vnđ")</s>
                            <span class="badge bg-success">@Model.DiscountPrice?.ToString("#,# vnđ")</span>
                        }
                        else
                        {
                            <span class="badge bg-success">Gía: @Model.Price.ToString("#,# vnđ")</span>
                        }
                        <p>Thêm lúc: @Model.CreatedAt?.ToString("dd/MM/yyyy HH:mm")</p>
                        <p class="fw-bold">Số lượng: @Model.Summary</p>

                    </div>
                    <b style="cursor:pointer">Mô tả: </b>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            <p>@Html.Raw(Model.Content)</p>
                        </div>
                    </div>
                </div>

                <div class="mt-3" style="text-align: center;">
                        <a asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@Model.Id" class="btn btn-outline-danger d-block my-3" style="color: #f1d132">
                            <i class="bi bi-cart3"></i> THÊM NGAY
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>